.contact {
	font-family: 'Abel', sans-serif;
}

.contact__wrapper {
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
	min-height: 80vh;
	gap: 2rem;
	padding: 0 5rem;
	justify-content: center;
	align-items: center;
}

.contact__text {
	font-size: 28px;
}

.contact__form {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
}

.contact__form form{
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 2rem 2rem;
	width: 100%;
}

.contact__form input{
	font-family: 'Abel', sans-serif;
	font-size: 18px;
	height: 40px;
	background: #ebebeb;
	color: #303030;
	border: 2px solid #000000;
	border-radius: 7px;
}

.contact__form textarea {
	font-family: 'Abel', sans-serif;
	font-size: 18px;
	height: 10vh;
	border: 2px solid #000000;
	background: #ebebeb;
	color: #303030;
}