body {
    background-color: #222222;
	color: #ebebeb;
}

.header__logo a {
	color: #ebebeb;
}

.header__navbar a {
	color:#ebebeb;
}

.header__socials i {
	color: #ebebeb;
}

.header__LightDarkBtn button {
	color: #ebebeb;
	background: #222222;
}

.projects__item {
    border: 1px solid #000000;
	background: #444444;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4); 
}