body {
    background-color: #ebebeb;
    color: #000000;
}

.header__logo a {
	color: #000000;
}

.header__navbar a {
	color: #000000;
}

.header__socials i {
	color: #000000;
}

.header__LightDarkBtn button {
	color: #ffa500;
	background: #ebebeb;
}

.projects__item {
    border: 1px solid #222222;
    box-shadow: 5px 5px 5px rgba(34, 34, 34, 0.4); 
}